<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
</head>

<body>
    <div class="container">
        <h2 class="text-center">Perpustakan-ku</h2>
        <table class="table table-hover" id="mytable">
            <tbody>
                {{#each results}}
                <tr>

                    <td><img src={{ image }} alt="Cinque Terre" class="img-responsive" width="175"></td>
                    <td>
                        
                        <p class="font-weight-bold">Judul: </p><p>{{ name }}
                        <span class="badge badge-pill badge-primary">Stok: {{ stok }}</span>
                        <span class="badge badge-pill badge-info">ID: {{ id }} </span> </p>
                        <p class="font-weight-bold">Deskripsi:</p>
                        <p class="text-justify">{{ deskripsi }}</p>
                    </td>
                    <td>{{ category_id }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>